/* For hiding a container */
.hidden{
  transform: scale(0);
}
/* For hiding a container */


.home{
  position: absolute;
  top: 0;
  background-color: #1B1B2F;
  font-size: 1.5em;
  left: 0;
  min-height: 100vh;
  margin: 0;
  right: 0;
  padding: 0;
  width: 100% ;
  text-align: center;
  color: #E43F5A;
  font-family:'Montserrat', sans-serif;

}

a{
  text-decoration: none;
  margin: 0;
  padding: 0;
}

@keyframes pagein{
  from{
    transform: translateY(10%);
    opacity:0 ;
  }
  to{
    transform: translateY(0%);
    opacity: 1;
  }
}


.backtopage1{
transform: scale(0);
opacity: 90;
color: #E43F5A;
}

.backtopage1:hover{
  color: #ff5833;
  
}

.headtext{
  font-size: .8em;
  margin: 50px;
  padding:10px ;
  animation : pagein ease-in 1s forwards;
}

.havelook{
  background-color: #ff5833;
  opacity: .8;
  color: #1B1B2F;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  animation : pagein ease-in 1.2s forwards;
}

.col{
  float: right;
  width: 30%;
  min-height: fit-content;
  animation : pagein ease-in 1.4s forwards;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  margin: 10px;
}

.box1, .box2{
    color:  #1B1B2F;
    background-color: #ff5833;
    margin:.6em;
    padding:.5em ;
    font-size: .9em;
    cursor: pointer; 
    animation : pagein ease-in 1.8s forwards;
}

.box1:hover{
  background-color: #fd4a21;
  
}
.box2:hover{
  background-color: #fd4a21;
}




.allgames{
  background-color:#ff5833;
  color: #1B1B2F ;
  padding: 10px;
  animation : pagein ease-in 2s forwards;
}

.allgames:hover{
    background-color: transparent;
    color: #ff5833;
}

/* for showing all the games  */



@keyframes gamescreen {
  from {
    opacity: 0;

  }
  to{
    opacity: 1;

  }
}

.back{
  margin: 5em;
  padding: 10px;
  color:#E43F5A;
}

.back:hover{
  background-color:#E43F5A;
  color: #1B1B2F;
}




/* for showing all the games  */